
- name: Install Nginx and Certbot for AWX reverse proxy
  apt:
    pkg:
    - apt-transport-https
    - software-properties-common

- name: Add a GPG signing key for Grafana, will not download if present
  apt_key:
    id: 4E40DDF6D76E284A4A6780E48C8C34C524098CB6
    url: https://packages.grafana.com/gpg.key
    state: present

- name: Add Grafana repository into sources list
  apt_repository:
    repo: deb https://packages.grafana.com/oss/deb stable main
    state: present

- name: Update repositories cache
  apt:
    update_cache: yes

- name: Install Grafana packages
  apt:
    pkg:
    - grafana

- name: Systemctl daemon-reload
  systemd:
    daemon_reload: yes

- name: Make sure Grafana service is running
  systemd:
    state: started
    name: grafana-server

- name: Make sure Grafana service is enabled at startup
  systemd:
    name: grafana-server
    enabled: yes

- name: Pause for 1 minutes so Grafana can close its handle on the database
  pause:
    minutes: 1

- name: Set admin password for Grafana
  command: 'grafana-cli admin reset-admin-password {{ grafana_admin_password }}'

# handle secure data - workflow example
# this will create/update the datasource but dont update the secure data on updates
# so you can assert if all tasks are changed
- name: create prometheus datasource
  community.grafana.grafana_datasource:
    name: local_prometheus
    # In the web interface direct access is named 'Server'. (trying instead of 'proxy')
    access: direct
    ds_type: prometheus
    ds_url: 'http://127.0.0.1:9090'
    tls_skip_verify: true
    url: "https://{{ grafana_url }}"
    grafana_user: "admin"
    grafana_password: "{{ grafana_admin_password }}"


# configure grafana
# $ grafana-cli admin reset-admin-password <new password>
# or can just do it graphically, default password for admin is 'admin'

#- debug:
#    msg: If this is your first time setting up Grafana please login with username 'admin' and password 'admin' and set a strong unique administrator password.




