# AWX Settings
awx_host: '{{ awx_url }}'
awx_username: '{{ admin_username }}'
awx_password: '{{ admin_password }}'
# AWX Tokens
# Hosting Settings
org_name: '{{ org_name }}'
certbot_email: '{{ certbot_email }}'
hosting_url: '{{ hosting_url }}'
delete_subscription_hours_delay: '{{ delete_subscription_hours_delay }}'
# Repository Settings
provision_source: '{{ provision_source }}'
provision_branch: '{{ provision_branch }}'
deploy_source: '{{ deploy_source }}'
deploy_branch: '{{ deploy_branch }}'
# DigitalOcean Settings
do_api_token: '{{ do_api_token }}'
do_spaces_access_key: '{{ do_spaces_access_key }}'
do_spaces_secret_key: '{{ do_spaces_secret_key }}'
do_image_master: '{{ do_image_master }}'
# MailGun Settings
mg_sender_email_address: '{{ mg_sender_email_address }}'
mg_sender_domain: '{{ mg_sender_domain }}'
mg_relay_host_name: '{{ mg_relay_host_name }}'
mg_api_url: '{{ mg_api_url }}'
mg_private_api_key: '{{ mg_private_api_key }}'
# Backup Settings
backup_server_enabled: '{{ backup_server_enabled }}'
backup_server_ip: '{{ backup_server_ip }}'
backup_server_ssh_port: '{{ backup_server_ssh_port }}'
backup_server_hostname: '{{ backup_server_hostname }}'
backup_server_user: '{{ backup_server_user }}'
backup_server_directory: '{{ backup_server_directory }}'
backup_server_location: '{{ backup_server_location }}'
backup_server_ssh_fingerprint: '{{ backup_server_ssh_fingerprint }}'
