do_api_token: {{ do_api_token }}
do_spaces_access_key: {{ do_spaces_access_key }}
do_spaces_secret_key: {{ do_spaces_secret_key }}
do_image_master: {{ do_image_master }}
private_ssh_key_password: {{ private_ssh_key_password }}
tower_host: '{{ awx_url }}'
tower_username: admin
tower_password: {{ admin_password }}
