#######################################################################
#
#  Define RADIUS clients (usually a NAS, Access Point, etc.).

#
#  Defines a RADIUS client.
#
#  '127.0.0.1' is another name for 'localhost'.  It is enabled by default,
#  to allow testing of the server after an initial installation.  If you
#  are not going to be permitting RADIUS queries from localhost, we suggest
#  that you delete, or comment out, this entry.
#
#

client {{ awx_web_ip.stdout }} {
	ipaddr		= {{ awx_web_ip.stdout }}
	protocol	= udp
	secret		= {{ radius_secret }}
	shortname	= awx_container
	nastype		= other
}
