{
  "name": "Setup Wireguard Server",
  "description": "Configures a wireguard server AWX can use to SSH into an on-premises server.",
  "spec": [
    {
      "question_name": "Server IPv4/IPv6",
      "question_description": "The IP address of the wireguard server. You must already have the AWX hosters public SSH key loaded into it.",
      "required": false,
      "min": 0,
      "max": 64,
      "default": "",
      "choices": "",
      "new_question": true,
      "variable": "server_ip",
      "type": "text"
    }
  ]
}
