#!/bin/bash

CONFIG=/etc/prometheus/prometheus.yml

# clear file

truncate -s 0 $CONFIG

# append first block

cat ./config_piece_1 >> $CONFIG

# append host list

echo "      - 'matrix.perthchat.org:9100'" >> $CONFIG
curl --silent --user admin:{{ admin_password }} https://{{ awx_url }}/api/v2/hosts/ |
	jq .results[].name |
	sort -u |
	tr -d '"\\' |
	egrep -v "dummyvalue|example\.com" |
        while read line; do echo "      - '$line:9100'"; done >> $CONFIG

# append second block

cat ./config_piece_2 >> $CONFIG

# append host list

echo "      - 'matrix.perthchat.org:9000'" >> $CONFIG
curl --silent --user admin:{{ admin_password }} https://{{ awx_url }}/api/v2/hosts/ |
        jq .results[].name |
        sort -u |
        tr -d '"\\' |
        egrep -v "dummyvalue|example\.com" |
        while read line; do echo "      - '$line:9000'"; done >> $CONFIG

