#!/bin/bash

CONFIG=/etc/prometheus/prometheus.yml

before_sum=$(sha256sum $CONFIG)

echo $before_sum

# clear file

truncate -s 0 $CONFIG

# append first block

cat /usr/local/bin/prometheus/config_piece_1 >> $CONFIG

# append matrix and backup servers for node-exporter metrics

curl --silent --user admin:{{ admin_password }} https://{{ awx_url }}/api/v2/hosts/ |
	jq .results[].name |
	sort -u |
	tr -d '"\\' |
	egrep -v "dummyvalue.com|wireguard.|localhost" |
        while read line; do echo "      - '$line:9100'"; done >> $CONFIG
        
# append wireguard servers for node-exporter metrics

curl --silent --user admin:{{ admin_password }} https://{{ awx_url }}/api/v2/hosts/ |
	jq .results[].name |
	sort -u |
	tr -d '"\\' |
	grep "wireguard." |
        while read line; do echo "      - '$line:9200'"; done >> $CONFIG

# append second block

cat /usr/local/bin/prometheus/config_piece_2 >> $CONFIG

# append matrix servers for synapse metrics

curl --silent --user admin:{{ admin_password }} https://{{ awx_url }}/api/v2/hosts/ |
        jq .results[].name |
        sort -u |
        tr -d '"\\' |
        grep "matrix." |
        while read line; do echo "      - '$line:9000'"; done >> $CONFIG

after_sum=$(sha256sum $CONFIG)

echo $after_sum

if [ "$before_sum" != "$after_sum" ]; then
    echo "Checksums are not equal"
    systemctl restart prometheus
else
    echo "Checksums are equal"
fi


