#!/usr/bin/python3

import json
import os
import subprocess
from pathlib import Path

def shellcmd(command):
  print(command)
  rc = subprocess.run(command, universal_newlines=True, capture_output=True)
  print(rc.returncode)
  print(rc.stdout)
  print(rc.stderr)
  return(rc)

with open(os.environ['HOOK_PAYLOAD'], "r") as f:
  # returns JSON object as a dictionary
  # If the data being deserialized is not a valid JSON document, a JSONDecodeError will be raised
  data = json.load(f)

#print(data)
print(json.dumps(data, indent = 1))

event_type = str(data['event'])
print("Event type is: " + event_type)

if event_type == "member-added":
  client_email = str(data['data']['email'])
  print("Client Email: " + client_email)
  member_id = str(data['data']['id'])
  print("Member ID: " + member_id)
  
  # Touch the extra-vars file
  Path('/tmp/create_account.json').touch()
  
  # Clear the extra-vars file
  open('/tmp/create_account.json', 'w').close()
  
  # Write the extra-vars file
  extra_vars_json = {"member_id": member_id, "client_email": client_email}
  with open('/tmp/create_account.json', 'w') as extra_vars_file:
    json.dump(extra_vars_json, extra_vars_file)
  extra_vars_file.close()
  
  # Launch the ansible playbook
  ansible_launch_command = ["/usr/bin/ansible-playbook", "-v", "/usr/local/bin/webhook-create-account.yml"]
  shellcmd(ansible_launch_command)
  
  # Add client entry to client-list file
  client_file_path = "/var/lib/awx/projects/clients/client-list"
  client_file = open(client_file_path,'a')
  client_file.write(member_id + "," + client_email + "\n")
  client_file.close()
  # Remove empty lines from file
  client_file = open(client_file_path,'r')
  client_file_contents = client_file.read()
  client_file.close()
  new_client_file_contents = client_file_contents.replace("\n\n","\n")
  client_file = open(client_file_path,'w')
  client_file.write(new_client_file_contents)
  client_file.close()

elif event_type == "recurring-transaction-completed":
  plan_title = str(data['data']['membership']['title'])
  print("Plan selected: " + data['data']['membership']['title'])
  subscription_id = str(data['data']['subscription']['subscr_id'])
  print("Subscription ID: " + subscription_id)
  member_id = str(data['data']['member']['id'])
  print("Member ID: " + member_id)
  client_email = str(data['data']['member']['email'])
  print("Client email is: " + client_email)
  client_first_name = str(data['data']['member']['first_name'])
  print("Clients first name is: " + client_first_name)
  client_last_name = str(data['data']['member']['last_name'])
  print("Clients last name is:  " + client_last_name)
  
  # Touch the extra-vars file
  Path('/tmp/create_subscription.json').touch()
  
  # Clear the extra-vars file
  open('/tmp/create_subscription.json', 'w').close()
  
  # Write the extra-vars file
  extra_vars_json = {"plan_title": plan_title, "subscription_id": subscription_id, "member_id": member_id, "client_email": client_email, "client_first_name": client_first_name, "client_last_name": client_last_name}
  with open('/tmp/create_subscription.json', 'w') as extra_vars_file:
    json.dump(extra_vars_json, extra_vars_file)
  extra_vars_file.close()

  # Launch the ansible playbook
  ansible_launch_command = ["/usr/bin/ansible-playbook", "-v", "/usr/local/bin/webhook-create-subscription.yml"]
  shellcmd(ansible_launch_command)

elif event_type == "subscription-expired":
  subscription_id = str(data['data']['subscr_id'])
  print("Subscription ID: " + subscription_id)
  member_id = str(data['data']['member']['id'])
  print("Member ID: " + member_id)
  
  # Touch the extra-vars file
  Path('/tmp/delete_subscription.json').touch()
  
  # Clear the extra-vars file
  open('/tmp/delete_subscription.json', 'w').close()
  
  # Write the extra-vars file
  extra_vars_json = {"subscription_id": subscription_id, "member_id": member_id}
  with open('/tmp/delete_subscription.json', 'w') as extra_vars_file:
    json.dump(extra_vars_json, extra_vars_file)
  extra_vars_file.close()
  
  # Launch the ansible playbook
  ansible_launch_command = ["/usr/bin/ansible-playbook", "-v", "/usr/local/bin/webhook-create-subscription.yml"]
  shellcmd(ansible_launch_command)
 
# Collect that usernames ID using awxkit
# ~/.local/bin/awx --conf.host https://panel.example.org --conf.username admin --conf.password xxxxxxxxxxxxxxx user list

# Set username to new value
# ~/.local/bin/awx --conf.host https://panel.example.org --conf.username admin --conf.password xxxxxxxxxxxxxxx user modify 3 --username billy.bob2

elif event_type == "member-account-updated":
  member_id = str(data['data']['id'])
  print("Member ID: " + member_id)
  client_email = str(data['data']['email'])
  print("Client email is: " + client_email)
  old_client_email = ""
  
  # Collect old email from /var/lib/awx/projects/clients/member_id/organisation.yml
  org_file_path = '/var/lib/awx/projects/clients/' + member_id + '/organisation.yml'
  org_file = open(org_file_path,'r')
  for line in org_file.readlines():
    if "client_email" in line:
      old_client_email = line.replace('client_email: \"', '')
      old_client_email = old_client_email[:-2]
  print("Previous client email is: " + old_client_email)
  org_file.close()
  org_file = open(org_file_path,'r')
  org_file_contents = org_file.read()
  org_file.close()
  
  # Use awxkit to create a list of user accounts in AWX
  awxkit_list_command = "/home/webhook/.local/bin/awx --conf.host https://{{ awx_url }} --conf.username admin --conf.password {{ admin_password }} user list"
  list_process = subprocess.check_output(awxkit_list_command, universal_newlines=True, shell=True)
  final_id = 'none'
  for line in list_process.splitlines():
    if '\"id\": ' in line:
      temp_id = line.replace('               "id": ','')
      temp_id = temp_id.replace(',','')
    elif '\"username\": ' in line:
      if old_client_email in line:
        final_id = temp_id
  print("Final ID is: " + final_id)
  if final_id == 'none':
    print('Email not found, exiting now..')
    sys.exit()
    
  # Use awxkit to modify user account on AWX to have the new email address
  awxkit_username_command = "/home/webhook/.local/bin/awx --conf.host https://{{ awx_url }} --conf.username admin --conf.password {{ admin_password }} user modify " + final_id + " --username " + client_email
  username_process = subprocess.check_output(awxkit_username_command, universal_newlines=True, shell=True)
  print("Old org file contents: \n\n" + org_file_contents)
  new_org_file_contents = org_file_contents.replace(old_client_email, client_email)
  print("New org file contents: \n\n" + new_org_file_contents)
  org_file = open(org_file_path,'w')
  org_file.write(new_org_file_contents)
  org_file.close()
  
  # Edit the client-list file and update the users entry
  client_list_path = '/var/lib/awx/projects/clients/client-list'
  client_list = open(client_list_path,'r')
  client_list_contents = client_list.read()
  new_client_list_contents = client_list_contents.replace(old_client_email, client_email)
  client_list.close()
  client_list = open(client_list_path,'w')
  client_list.write(new_client_list_contents)
  client_list.close()

# Notes on direct python method:
  #awx_job_launch_command = ["curl", "-H", "Host: 127.0.0.1:8080", "-H", 'Authorization: Bearer xxOAUTH_TOKENxx', '-H', 'Content-Type: application/json' ]
  # curl, OAUTH: awx_job_launch_command = ["curl", "-H", "Host: 127.0.0.1:8080", "-H", 'Authorization: Bearer xxOAUTH_TOKENxx', '-H', 'Content-Type: application/json' ]
  # curl, Basic auth: wx_job_launch_command = ["curl", "-H", "Host: 127.0.0.1:8080", "-H", 'Authorization: Basic XXXX=', '-H', 'Content-Type: application/json' ]
  # extravars = '"{\"extra_vars\": \"{\\\"client_email\\\": \\\"jayfoo@example.com\\\", \\\"client_first_name\\\": \\\"Jay\\\", \\\"client_last_name\\\": \\\"Foo\\\", \\\"subscription_id\\\": \\\"I-MLNR0UVM62NU\\\", \\\"plan_title\\\": \\\"Medium Server\\\"}\"}"
  # extra_vars = '{"extra_vars": "{\"client_email\": \"jayfoo@example.com\", \"client_first_name\": \"Jay\", \"client_last_name\": \"Foo\", \"subscription_id\": \"I-MLNR0UVM62NU\", \"plan_title\": \"Medium Server\"}"}'
    
  # Probe that members account to get their previous email (current AWX username)
  # Call the 2 awxkit commands, like so: https://www.reddit.com/r/awx/comments/kwucrn/how_to_change_a_username_on_awx/
  # Change the value in that original file.
  
# Notes on old ansible-tower-cli method:
# Launch Tower Job Template Example
# $ ~/.local/bin/awx job launch -J "00 - Create Subscription" --monitor --extra-vars='first_name="Freddy" last_name="Kreuger" email="user@example.com" subscr_id="mp-sub-5f83bf681654b" plan_title="Medium Server"'
