
- name: "Launches the '00 - Delete Subscription' job template"
  hosts: localhost
  connection: local
  gather_facts: false

  tasks:
    - name: Execute every job template sequentially
      awx.awx.tower_job_launch:
      job_template: "00 - Delete Subscription"
      extra_vars: "{{ lookup('file', '/tmp/delete_subscription.json') }}"
      tower_host: "https://{{ awx_url }}"
      tower_oauthtoken: "{{ webhook_session_token }}"
      validate_certs: yes
