
- name: Update repositories cache
  apt:
    update_cache: yes

- name: Update all packages to their latest version
  apt:
    name: "*"
    state: latest

- name: Install necessary packages
  apt:
    pkg:
    - ufw
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg2
    - software-properties-common
    - python-pip

- name: Create swapfile with the right permissions
  command: 'fallocate -l 4G /swapfile'
  register: swapfile_new
  args:
    creates: /swapfile
    
- name: Set correct permissions on swapfile
  command: 'chmod 600 /swapfile'
  when: swapfile_new.delta is defined

- name: Make swapfile
  command: 'mkswap /swapfile'
  when: swapfile_new.delta is defined
  
- name: Make swapfile
  command: 'swapon /swapfile'
  when: swapfile_new.delta is defined

- name: Make swapfile permanent in /etc/fstab
  mount: name=none
    src=/swapfile
    fstype=swap
    opts=sw
    passno=0
    dump=0
    state=present

- name: Allow all access to TCP port 80 with UFW
  ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Allow all access to TCP port 443 with UFW
  ufw:
    rule: allow
    port: '443'
    proto: tcp

- name: Allow all access to TCP port 22 with UFW
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: Default allow outgoing traffic with UFW
  ufw:
    policy: allow
    direction: outgoing

- name: Default deny incoming traffic with UFW
  ufw:
    policy: deny
    direction: incoming

- name: Enable UFW
  ufw:
    state: enabled

- name: Add the Apt signing key for Docker, will not download if present
  apt_key:
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    url: https://download.docker.com/linux/debian/gpg
    state: present

- name: Add Docker repository into sources list
  apt_repository:
    repo: 'deb [arch=amd64] https://download.docker.com/linux/debian buster stable'
    state: present

- name: Update repositories cache
  apt:
    update_cache: yes

- name: Install Docker packages
  apt:
    pkg:
    - docker-ce
    - docker-compose

- name: Install Node.js pre-requisite packages
  apt:
    pkg:
    - nodejs 
    - npm 
    - git
    - python3-pip 
    - pwgen 
    - python3-docker

- name: Install Requests python package on version 2.14.2
  pip:
    name: requests==2.14.2

- name: Setup update-alternatives 1
  command: update-alternatives --install /usr/bin/python python /usr/bin/python2.7 1

- name: Setup update-alternatives 2
  command: update-alternatives --install /usr/bin/python python /usr/bin/python3 2

- name: Install Docker Compose python package on version 1.21.0
  pip:
    name: docker-compose==1.21.0

- name: Save docker config file, template
  template:
    src: '{{ role_path }}/templates/daemon.json.j2'
    dest: '/etc/docker/daemon.json'

- name: Creates a crontab entry for trimming systemd logs"
  cron:
    name: "Trim Systemd Logs"
    user: root
    special_time: daily
    job: "sudo journalctl --vacuum-time=28d"

