---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: awx-issuer
  namespace: awx
spec:
  acme:
    # The email address to be registered with ACME CA
    email: {{ certbot_email }}

    # The URL of the ACME API endpoint.
    # In Let's Encrypt, this is one of the following:
    #   Production: https://acme-v02.api.letsencrypt.org/directory
    #   Staging   : https://acme-staging-v02.api.letsencrypt.org/directory
    #server: https://acme-staging-v02.api.letsencrypt.org/directory
    server: https://acme-v02.api.letsencrypt.org/directory

    privateKeySecretRef:
      name: awx-issuer-account-secret

    solvers:
      - dns01:
          cloudflare:
            email: {{ cloudflare_email }}
            apiKeySecretRef:
              name: cloudflare-api-key-secret
              key: api-key